<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.chillchillapp.tasks.todolist">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_todolist"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_todolist"
        android:supportsRtl="true"
        android:theme="@style/BlueTheme">
        <activity
            android:name=".InitiateLanguageActivity"
            android:exported="false"
           />
        <activity
            android:name=".SynchronizetionActivity"
            android:exported="false" />
        <activity android:name=".LanguageActivity" />
        <activity android:name=".HistoryActivity" />
        <activity
            android:name=".ThemeLookActivity"
            android:theme="@style/DarkTheme" />
        <activity android:name=".ThemeActivity" />
        <activity android:name=".FavoriteActivity" />
        <activity android:name=".UpgradePremium" />
        <activity android:name=".CategoryActivity" />
        <activity android:name=".SelectSymbol" />
        <activity android:name=".InputTasksActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".CheckPermission">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".master.MyCustomReceiver" /> <!-- google drive -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" /> <!-- Sample AdMob app ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/My_App_Id" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDCMrC_swC2mFKPrWi2RR-ty-Cs1jCaDHg" />

    </application>

</manifest>